.gx-tree-radio {
    background-image: url('http://cdn.sencha.com/ext/gpl/4.2.1/resources/ext-theme-access/images/form/radio.gif');
}
.gx-tree-component-off {
    display: none;
}
.gx-tree-baselayer-icon {
    background-image: url('../../resources/images/default/map.png');
}
